

<h1 class = "text-center mt-3">Create New Article</h1>

<! --
  Iterating over errors generated from the article trying to be saved
  Each message is displayed as a list. Since the first time this page
  is loaded, @article is empty, we add @article = Article.new in the
  controller
-->

<%= render 'articles/form' %>






