<div class="p-5 mb-0 mt-0 bg-light rounded-3 text-center" id="homeJumbo">
  <div class="container-fluid py-5 text-center" >
    <h1 class="display-5 fw-bold text-center text-white" id="jumboHeading">Alpha Blog</h1>
    <p class="fs-4 text-center text-white" id="jumboSubHeading">Read and write powerful blog articles</p>
    <%= link_to 'Read Articles', articles_path, class: "btn btn-success btn-lg"  %>
  </div>
</div>

<div class="p-5 mb-2 mt-0 bg-light rounded-3 text-center" id="homeJumbo2">
  <div class="container-fluid py-5 text-center" >
    <h2 class="display-5 fw-bold text-center text-white" id="jumboHeading">Start writing today</h2>
    <p class="fs-4 text-center text-white" id="jumboSubHeading">Share your ideas with millions of people now!</p>
    <%= link_to 'Start Writing', new_article_path, class: "btn btn-primary btn-lg"  %>

  </div>
</div>




<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>