@import "node_modules/bootstrap/dist/css/bootstrap.css";

#logo{
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

#homeJumbo{
  background-image: asset-url('jumbo1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  height: 500px;
}

#homeJumbo2{
  background-image: asset-url('jumbo2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  height: 500px;
}


#sticky-footer {
  flex-shrink: none;
}
#homeSubJumbo1{
  height: auto;
}
#indexPage{
  background-color: lightgrey;
}

#cardHeader{
  font-style: italic;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.link-success{
  text-decoration: none;
}

#id{
  float:right
}


